<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<header>
    <div class="wrap">
        <div class="logo"><img src="img/logo-alt.png" alt="Help me to find it logo"/></div>
        <ul class="user-menu">
            <li ui-sref="login">Login |</li>
            <li ui-sref="registration">Registration</li>
        </ul>
        <h1>Duis autem vel eum iriure dolor in hendrerit in vulputate velit Veniam</h1>
        <div class="page-heading">Login</div>
    </div>
</header>

<content>
    <div class="wrap">
        <form id="login-form" action="post">
            <ul>
                <li><input type="email" placeholder="Email"/></li>
                <li><input type="password" placeholder="Password"/></li>
                <li><button type="submit">Login</button></li>
            </ul>
        </form>
    </div>
</content>

<footer>
    <div class="wrap">
        <p class="site-name">Help me to find it</p>
        <p>Copyright &copy; 2014. All rights reserved</p>
    </div>
</footer>

</body>
</html>