<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="wrap">
        <div class="logo"><img src="img/logo-alt.png" alt="Help me to find it logo"/></div>
        <ul class="user-menu">
            <li ui-sref="login">Login |</li>
            <li ui-sref="registration">Registration</li>
        </ul>
        <h1>Duis autem vel eum iriure dolor in hendrerit in vulputate velit Veniam</h1>
        <div class="page-heading">Registration</div>
    </div>
</header>

<content>
    <div class="wrap">
        <form id="registration-form" action="post">
            <ul>
                <li class="add-profile-picture"><p>Add<br/>profile<br/>picture</p></li>
                <li class="registration-info"><input type="text" placeholder="Name"/></li>
                <li class="registration-info"><input type="text" placeholder="Surname"/></li>
                <li class="registration-info"><input type="tel" placeholder="Telephone number"/></li>
                <li class="social-connect">
                    <i class="fa fa-facebook-square"></i>
                    <input type="text" placeholder="Facebook URL"/>
                </li>
                <li class="social-connect">
                    <i class="fa fa-twitter"></i>
                    <input type="text" placeholder="Twitter URL"/>
                </li>
                <li class="social-connect">
                    <i class="fa fa-google-plus-square"></i>
                    <input type="text" placeholder="Google plus URL"/>
                </li>
                <li class="social-connect">
                    <i class="fa fa-vk"></i>
                    <input type="text" placeholder="VK URL"/>
                </li>
                <li class="social-connect">
                    <i class="fa fa-skype"></i>
                    <input type="text" placeholder="Skype"/>
                </li>
                <li><button type="submit">Register</button></li>
            </ul>
        </form>
    </div>
</content>

<footer>
    <div class="wrap">
        <p class="site-name">Help me to find it</p>
        <p>Copyright &copy; 2014. All rights reserved</p>
    </div>
</footer>

</body>
</html>